.tituloRegistro {
  font-size: 30px;
  color: #468FAF;
  line-height: 14px;
  margin-bottom: 14px;
}

.labelSpan {
  font-size: 16px;
  color: #468FAF;
}

form div {
  margin-bottom: 14px;
}

input[type=submit] {
  font-size: 12px;
}